@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700|Oswald:400,700');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
/****** GENERAL ******/

* {
    margin: 0;
    padding: 0;
    }


/****** NAVBAR ******/

.parallelogram {
    height: 30px;
    margin: 0 auto;
    background: #b20127;
	-webkit-transform: skew(45deg);
       -moz-transform: skew(45deg);
        -ms-transform: skew(45deg);
         -o-transform: skew(45deg);
            transform: skew(45deg);
	
}

#navigation {
    height: 30px;
    margin: 0 auto;
    background: #82001c;
    -webkit-transform: skew(-45deg);
       -moz-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
         -o-transform: skew(-45deg);
            transform: skew(135deg) rotate(180deg);
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);  
}

.container {
    top: 0; 
    left: auto;
    width: 1315px;
    margin: 0 auto;
    position: relative;
}

.navBox {
    display: inline-block;
}

.box111 {
    left: 15px;
    width: 480px;
    z-index: 1;
    position: absolute;
    background: #b20127;
}

.box22 {
    left: 130px;
    width: 90%;
    margin: 0 0 0 0;
    z-index: 0;
    position: relative;
}

.contentContainer {
    top: 0;
    left: 167.5px;
    width: 980px;
    height: 30px;
    margin: 0 auto;
    z-index: 3;
    position: absolute;
    text-align: justify;
}

.contentContainer:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.navigationBox {
    display: inline-block;
    padding: 4px 0 0 0;
}

#freeShipping {
    color: white;
}

.navigationBox p{
    color: #e8758d;
    display: inline-block;
    font-size: 13px; 
}

.logo {
    display: none;
}

#navBar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

#navBar ul li a{
    color: #e8758d;
    font-size: 13px;
    text-decoration: none;
}

.toggle {
    color: white;
    width: 100%;
    display: none;
    font-size: 20px;
    background: #82001c;
    box-sizing: border-box;
    text-align: left;
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        height: 0;
    }

    .parallelogram {
        display: none;
        
    }
    
    #navigation {
        display: none; 
    }

    .navigationBox {
        padding: 0;
        display: inline;
    }

    .navigationBox p {
        display: none;
    }

    .contentContainer {
        top: 0;
        left: 0;
        width: 100%;
    }

    .toggle {
        height: 50px;
        padding: 10px 0 0 10px;
        display: block;
    }

    .logo {
        top: 0;
        left: 0;
        color: #82001c;
        width: 90px;
        margin: 0 50% 0 50%;
        padding: 7.5px 0 7.5px 0;
        position: absolute;
        background: white;
        text-align: center;
        border-radius: 5px;
    }

    #navBar ul {
        width: 100%;
        display: none;
    }

    #navBar ul li{
        display: block;
        text-align: center;
        background: #b20127;
    }

    .active {
        display: block;
    }

}

/****** SEARCH BAR ******/
/*
font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
.oswald{
    font-family: 'Oswald', sans-serif;
}

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

.searchContainer {
    display: table;
    height: 77px;
    line-height: 1em;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.searchLogo {
    display: table-cell;
    font-size: 1.8em;
    text-align: center;
    vertical-align: middle;
    width:159px;
}

.searchLogo div{
    color: white;
    background: #82001c;
    border-radius: 5%;
    height: 50px;
    margin: 0 auto;
    width: 159px; 
    text-align: center;
}

.searchBar {
    display: table;
    width: 100%;
    color: #82001c;
    margin: 0 110px;
    text-align: center;
    vertical-align: middle;
}

.searchBarBox {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.searchBarBox p.nunito {
    font-size: .8em;
}

.searchBarBox p.oswald {
    font-size: 1.2em;
}

.searchBarBox i {
    font-size: 1.3em;
}

.dropbtn {
    
}

.contactNum {
    color: #82001c;
    display: table-cell;
    width: 125px;
    vertical-align: middle;
}

.contactNum p.nunito{
    float: right;
    font-size: .8em;
}

.contactNum p.oswald{
    font-size: 1.2em;
}

@media (max-width: 768px) {
    
    .searchLogo {
        display: none;
    }
    
    .contactNum {
        display: none;
    }

    .searchContainer {
        padding: 60px 0 0 0;
        margin: 0 auto;
    }
}

/****** BREAD CRUMB ******/

.breadContainer {
    background: #ffdd00;
    height: 41px;
    width: 100%;
}

.breadCrumb {
    height: 41px;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}

ul.breadCrumb {
    list-style: none;
    vertical-align: middle;
}

ul.breadCrumb li {
    display: inline;
    font-size: .85em;  
}

ul.breadCrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadCrumb li a {
    text-decoration: none;
    vertical-align: middle;
}

ul.breadCrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/****** SIDEBAR ******/

.productContainer {
    max-width: 980px;
    width: 100%;
    margin: 15px auto 0 auto;
}

.sidebar {
    float: left;
    max-width: 180px;
}

.sidebar ul {
    list-style: none;
    margin: 30px 30px 0 0;
}

.sidebar ul li{
    border-bottom: 1px solid lightgray;
    margin: 8px 0 8px 0;
    text-decoration: none;
}

.sidebar ul li a{
    text-decoration: none;
}

@media (max-width: 1000px) {
    
    .headerTitle {
        text-align: center;
    }
    .sidebar {
        display: none;
    }
}
/****** PRODUCT DISPLAY ******/

.headerTitle {
    height: 100px;
    margin: 50px auto 0 auto;
    max-width: 980px;
    
}

.headerTitle h1{
    font-size: 4em;
}

.productView {
    display: table;
    height: 570px;
    margin: 0 auto 0 auto;
    width: 800px;
}

.box {
    display: inline-block;
    height: 190px;
    width: 198px;
    border: 1px solid lightgray;
    position: relative;
}

.box p{
    position: absolute;
    word-wrap: normal;
    bottom: 10px;
    left: 10px;
    font-size: .9em;
    font-weight: 700;
    width: 150px;
}

.box1 {
    background: url("../img/1.jpg") no-repeat center;
}

.box2 {
    background: url("../img/lupe-fiasco-product-red-converse-all-star-01.jpg") no-repeat center;
}

.box3 {
    background: url("../img/Layer\ 50.jpg") no-repeat center;
}

.box4 {
    background: url("../img/1358338402Intel_Reader_ProductShot.jpg") no-repeat center;
}

.box5 {
    background: url("../img/1467966472-logo-img-product-db.jpg") no-repeat center;
}

.box6 {
    background: url("../img/products-camp-kitchen-thumb.jpg") no-repeat center;
}

.box7 {
    background: url("../img/DSC_5994.jpg") no-repeat center;
}

.box8 {
    background: url("../img/phil-teds-sport-inline-auto-stop-stroller-in-midnight-3-4-view_product_large.jpg") no-repeat center;
}

.box9 {
    background: url("../img/oink-final.jpg") no-repeat center;
}

.box10 {
    background: url("../img/iPhone6_34FR_SpGry_iPhone6plus_34FL_SpGry_Homescreen_HERO.jpg") no-repeat center;
}

.box11 {
    background: url("../img/oculus-touch-product-394x263-c.jpg") no-repeat center;
}

.box12 {
    background: url("../img/design_of_useful_things.jpg") no-repeat center;
    background-size: cover;
}

@media (max-width: 768px) {

    .productView {
        width: 600px;
        height: 760px;
    }
}

@media (max-width: 600px) {

    .productView {
        width: 320px;
        overflow: hidden;
    }

    .box {
        height: 190px;
        width: 158px;
        border: none;
    }

    .headerTitle {
        display: none;
    }
}