@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700|Oswald:400,700');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
/****** GENERAL ******/

* {
    margin: 0;
    padding: 0;
    }

.oswald{
    font-family: 'Oswald', sans-serif;
}

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

/****** NAVBAR ******/

#backContainer {
    margin: 0 auto;
    position: relative;
    width: 1315px;
}

#background1 {
    background: #b20127;
    float: left;
    height: 30px;
    position: relative;
    width: 480px;
    z-index: 1;
	-webkit-transform: skew(45deg);
       -moz-transform: skew(45deg);
        -ms-transform: skew(45deg);
         -o-transform: skew(45deg);
            transform: skew(45deg);	
}

#background2 {
    background: #82001c;
    height: 30px;
    margin: 0 0 0 auto;
    width: 80%;
    -webkit-transform: skew(-45deg);
       -moz-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
         -o-transform: skew(-45deg);
            transform: skew(-45deg);
}

.navContainer {
    left: 0;
    height: 30px;
    margin: 0 auto;
    max-width: 980px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.saleBox p{
    color: #e06c85;
    display: block;
    float: left;
    font-size: 13px;
    padding: 7px 7px 7px 0;
}

#shipping {
    color: white;
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    float: right;
  }
  
.topnav a {
    color: #e06c85;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0px 7px 16px;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
}

.active {
    background-color: #82001c;
    color: white;
}

.topnav .icon {
    display: none;
    font-size: 25px;
}

#logo {
    display: none;
}

/****** SEARCH BAR ******/

.searchContainer {
    display: table;
    height: 77px;
    line-height: 1em;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.searchLogo {
    display: table-cell;
    /*border: 1px solid black;*/
    text-align: center;
    vertical-align: bottom;
    width: 160px;
}

.searchLogo div{
    background: #82001c;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    height: 35px;
    padding-top: 20px;
    width: 150px;
    margin: 0;
}

.searchBar {
    /*border: 1px solid black;*/
    color: #82001c;
    display: table;
    height: 77px;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    vertical-align: middle;
}

.searchBarBox {
    display: table-cell;
    height: 77px;
    text-align: left;
    width: 115px;
    vertical-align: bottom;
}

.searchBarBox p.nunito {
    font-size: .8em;
}

.searchBarBox p.oswald {
    font-size: 1.2em;
    font-weight: 700;
}

#magnify {
    display: none;
}

.searchBarBox i {
    font-size: 1.3em;
    font-weight: 700;
    padding: 0 0 0 7px;
}

.contactNum {
    color: #82001c;
    /*border: 1px solid black;*/
    display: table-cell;
    width: 160px;
    vertical-align: bottom;
}

.contactNum p.nunito{
    float: right;
    font-size: .8em;
}

.contactNum p.oswald{
    float: right;
    font-size: 1.2em;
    font-weight: 700;
}

/****** BREAD CRUMB ******/

.breadContainer {
    background: #ffdd00;
    font-weight: 300;
    height: 41px;
    margin: 20px 0 0 0;
    width: 100%;
    
}

.breadCrumb {
    height: 41px;
    margin: 0 auto 0 auto;
    max-width: 980px;
    width: 100%;
    
}

ul.breadCrumb {
    list-style: none;
    vertical-align: middle;
}

ul.breadCrumb li {
    display: inline;
    font-size: .85em;  
}

ul.breadCrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadCrumb li a {
    text-decoration: none;
    vertical-align: middle;
}

ul.breadCrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .breadContainer {
        margin-top: 0;
    }
}

@media screen and (max-width: 426px) {

    ul.breadCrumb li {
        font-size: .65em;  
    }
}

/****** SIDEBAR ******/

.productContainer {
    max-width: 980px;
    width: 100%;
    margin: 15px auto 0 auto;
}

.sidebar {
    float: left;
    max-width: 180px;
}

.sidebar ul {
    list-style: none;
    margin: 30px 30px 0 0;
}

.sidebar ul li{
    border-bottom: 1px solid lightgray;
    margin: 8px 0 8px 0;
    text-decoration: none;
}

.sidebar ul li a{
    text-decoration: none;
}

/****** PRODUCT DISPLAY ******/

.headerTitle {
    height: 100px;
    margin: 50px auto 0 auto;
    max-width: 980px;
    
}

.headerTitle h1{
    font-size: 4em;
}

.productView {
    display: table;
    height: 570px;
    margin: 0 auto 0 auto;
    width: 800px;
}

.box {
    display: inline-block;
    height: 190px;
    width: 198px;
    border: 1px solid lightgray;
    position: relative;
}

.box p{
    position: absolute;
    word-wrap: normal;
    bottom: 10px;
    left: 10px;
    font-size: .9em;
    font-weight: 700;
    width: 150px;
}

.box1 {
    background: url("../img/1.jpg") no-repeat center;
}

.box2 {
    background: url("../img/lupe-fiasco-product-red-converse-all-star-01.jpg") no-repeat center;
}

.box3 {
    background: url("../img/Layer\ 50.jpg") no-repeat center;
}

.box4 {
    background: url("../img/1358338402Intel_Reader_ProductShot.jpg") no-repeat center;
}

.box5 {
    background: url("../img/1467966472-logo-img-product-db.jpg") no-repeat center;
}

.box6 {
    background: url("../img/products-camp-kitchen-thumb.jpg") no-repeat center;
}

.box7 {
    background: url("../img/DSC_5994.jpg") no-repeat center;
}

.box8 {
    background: url("../img/phil-teds-sport-inline-auto-stop-stroller-in-midnight-3-4-view_product_large.jpg") no-repeat center;
}

.box9 {
    background: url("../img/oink-final.jpg") no-repeat center;
}

.box10 {
    background: url("../img/iPhone6_34FR_SpGry_iPhone6plus_34FL_SpGry_Homescreen_HERO.jpg") no-repeat center;
}

.box11 {
    background: url("../img/oculus-touch-product-394x263-c.jpg") no-repeat center;
}

.box12 {
    background: url("../img/design_of_useful_things.jpg") no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 1314px){
    
    /*** TOP NAVBAR ***/
    #backContainer {
        display: none;
    }
    
    .navContainer {
        background: #82001c;
        width: 100%;
        padding: 0 16px;
    }

    /*** SEARCH BAR ***/
    .searchContainer {
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 1000px) {
    
    /*** SIDEBAR ***/
    .headerTitle {
        text-align: center;
    }
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 805px) {
    
    /*** TOP NAVBAR ***/
    .saleBox {
        display: none;
    }

    .topnav {
        padding-right: 16px;
    }

    /*** SEARCH BAR ***/
    .searchLogo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    /*** TOP NAVBAR ***/
    .navContainer{
        margin: 0;
        padding: 0;
    }

    .topnav {
        background: #82001c;
        left: 0;
        position: absolute;
        max-width: 768px;
        padding: 0;
        right: 0;
        width: 100%;
        height: 47.5px;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: left;
        display: block;
        padding-left: 16px;
    }
    
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 16px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    /*** SEARCH BAR ***/
    .contactNum {
        display: none;
    }

    #arrow {
        display: none;
        font-weight: normal;
    }

    #magnify {
        display: initial;
    }

    .searchContainer {
        background: #b20127;
        padding: 20px 0 30px 0;
        width: 100%;
    }

    .searchBar {
        color: white;
        display: table;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        vertical-align: middle;
    }
    
    .searchBarBox {
        display: table-cell;
        text-align: center;
        width: 106px;
        vertical-align: bottom;
    } 

    /*** PRODUCT DISPLAY ***/
    .productView {
        width: 600px;
        height: 760px;
    }

}

@media (max-width: 600px) {

    /*** PRODUCT DISPLAY ***/
    .productView {
        width: 320px;
        overflow: hidden;
    }

    .box {
        height: 190px;
        width: 158px;
        border: none;
    }

    .headerTitle {
        display: none;
    }
}

@media screen and (max-width: 426px) {
    
    /*** SEARCH BAR ***/
    .searchContainer {
        max-width: 425px;
        padding: 0px 0 15px 0;
        width: 100%;
    }

    .searchBarBox {
        padding-left: 4%;
        text-align: left;
    }
    
    .searchBarBox p.oswald {
        font-size: 1em;
    }
    
    .searchBarBox i {
        font-size: 1em;
        padding: 0 0 0 5px;
    }
}
