@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700|Oswald:400,700');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
/****** GENERAL ******/

* {
    margin: 0;
    padding: 0;
    }

.oswald{
    font-family: 'Oswald', sans-serif;
}

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

/****** NAVBAR ******/

#backContainer {
    margin: 0 auto;
    position: relative;
    width: 1315px;
}

#background1 {
    background: #b20127;
    float: left;
    height: 30px;
    position: relative;
    width: 480px;
    z-index: 1;
	-webkit-transform: skew(45deg);
       -moz-transform: skew(45deg);
        -ms-transform: skew(45deg);
         -o-transform: skew(45deg);
            transform: skew(45deg);	
}

#background2 {
    background: #82001c;
    height: 30px;
    margin: 0 0 0 auto;
    width: 80%;
    -webkit-transform: skew(-45deg);
       -moz-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
         -o-transform: skew(-45deg);
            transform: skew(-45deg);
}

.navContainer {
    left: 0;
    height: 30px;
    margin: 0 auto;
    max-width: 980px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.saleBox p{
    color: #e06c85;
    display: block;
    float: left;
    font-size: 13px;
    padding: 7px 7px 7px 0;
}

#shipping {
    color: white;
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    float: right;
  }
  
.topnav a {
    color: #e06c85;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0px 7px 16px;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
    font-size: 20px;
}

#logo {
    display: none;
}

@media screen and (max-width: 1314px){
    
    #backContainer {
        display: none;
    }
    
    .navContainer {
        background: #82001c;
        max-width: 100%;
        padding: 0 16px;
    }
}

@media screen and (max-width: 801px) {
    .saleBox {
        display: none;
    }

    .topnav {
        padding-right: 16px;
    }
}

@media screen and (max-width: 768px) {

    .topnav {
        background: #82001c;
        position: relative;
        width: 100%;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: left;
        display: block;
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px) {
    
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 16px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}
